[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RMCDA"]
	path = RMCDA
	url = https://github.com/annicenajafi/rmcda
[submodule "SurprisalAnalysis"]
	path = SurprisalAnalysis
	url = https://github.com/annicenajafi/surprisalanalysis
